/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 20, 2019, 2:25:01 PM
    Author     : Malcolm Adams
*/


#dialog-AddItem {
 background-color: white;
}
.form-group{
     display: block;
     margin-bottom: 8px;
    
     padding-bottom: 2px;
    }

#dialog-AddItem div:nth-child(even){
    /*background-color: lightgray;*/
}

#dialog-AddItem div{
    padding: 2px;
    margin-top: 8px;
  
}
#dialog-AddItem{
    margin:0;
   padding:0;
}

#dialog-AddItem select, #dialog-AddItem input, #dialog-EditItem select, #dialog-EditItem input{
    border: 1px solid lightgray;
    border-radius: 3px;
    background: white;
    margin: 4px;
    padding: 2px;
}

#dialog-AddItem span{
    width: 100%;
    text-align: center;
}
.form-group > label {
    display: inline-block;
    font: black;
    font-weight:bold;
    width: 30%;
    text-align: right;
}
.form-group > select, .form-group>input {
    display: inline-block;
    border: 1px solid black;
    width: 65%;
    border: none;
    text-align: center;
    background-color: whitesmoke;
    
}