/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Feb 26, 2019, 11:57:53 AM
    Author     : Malcolm Adams
*/

.detailsLabels{
    background-color: #111;
    height: 30px;
    color: white;
}

#table-Network, #table-Storage, #table-PageHeader, #table-Logs{
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #222;
}
#table-Logs tr:nth-child(even){
    background-color: lightgray;
}

#table-Logs td{
     border-bottom: 1px solid lightgray;
}

td{
    padding: 10px;
    text-align: center;
   
}

.table-Title{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    font-variant-caps:small-caps;
    font-family: Lucida Console;
    margin-bottom: 4px;
}


